{{partial "partials/header"}}
<ul class="navigation">
  <li><strong>Borrowers app</strong></li>
  {{#link-to 'friends.index'}}<li>Friends</li>{{/link-to}}
  {{#link-to 'friends.index'}}<li>Other link</li>{{/link-to}}
</ul>

{{outlet}}
