<h2 id="title">Welcome to Ember</h2>
<ul class="navigation">
  {{#link-to 'friends.index'}}<li>Friends</li>{{/link-to}}
  {{#link-to 'friends.index'}}<li>Other link</li>{{/link-to}}
</ul>

{{outlet}}
